
/*
 * FOOTER
 ----------------------------------------------- */

.footer-top,
.featured-posts,
.footer-bottom {
  background-color: $darkgray;
}
.footer
.footer-top {
  background-color: $teal;
  z-index: 0;
}
.footer {
  margin-top: -17px;
}
.featured-posts {
  padding: 50px 0;
}
.rounded {
  color: $lightteal;
  text-align: center;
  font-size: 36px;
  margin: 70px 0 70px;
  text-shadow: -3px -3px 3px $black,
  3px -3px 3px $black,
  -3px  3px 3px $black,
  3px  3px 3px $black;
  font-size: 60px;
}
.arpw-li {
  width: 30%;
  display: inline-block;
  margin: 0 1.66666666666667%;
  border: 5px solid $lightteal;
  position: relative;
}
.arpw-li a {
  color: $lightteal;
  text-decoration: none;
}
.arpw-li a:visited {
  color: $lightteal;
  text-decoration: none;
}
.arpw-li a:hover {
  color: $white;
}
.arpw-li img {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.arpw-text-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  padding: 10% 5%;
  background-color: rgba(0, 51, 51, 0.9);
  color: $white;
}
.text-wrap {
  word-wrap: break-word;
  display: block;
  position: relative;
}
.arpw-summary {
  position: relative;
  word-wrap: break-word;
  text-align: left;
  margin: 15px 0;
}
.text-wrap h3 {
  font-size: 25px;
}
.read-more {
  padding: 10px 0;
  width: 100%;
  display: block;
  color: $white;
  border: thin solid $lightteal;
  text-decoration: none;
  text-align: center;
}
.read-more:hover {
  background-color: rgba(0, 51, 51, .7);
}
.inactive-link {
  pointer-events: none;
}
.social-nav {
  display: block;
  text-align: center;
  padding: 150px 0 100px 0;
  margin: 0 auto;
}
.social-nav li {
  display: inline-block;
  margin: 0 5%;
  border: 3px solid $white;
  width: 90px;
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.social-nav a {
  color: $white;
}
.footer #menu-primary-1 {
  padding: 20px;
  text-align: center;
  display: block;
}
.footer .menu-item {
  display: inline-block;
  margin: 3%;
}
.footer .menu-item a {
  color: $white;
  text-decoration: none;
}
.footer-bottom {
  padding: 25px;
  text-align: center;
  color: $lightgray;
}
.footer-bottom a {
  color: $lightgray;
  text-decoration: none;
}