/*
 * LARGE LAYOUT
------------------------------------------------------------ */
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.clearfix {
  clear:both;
  overflow: hidden;
}
.outer-container,
.footer,
.featured-posts,
.footer-top,
.footer-bottom,
.arpw-text-container,
.arpw-li img {
  width: 100%;
  clear: both;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
#map {
  width: 96.66666666666666%;
  margin: -50px 1.66666666666667% -70px 1.66666666666667%;
  height: 600px;
  border: 2px solid $white;
  box-shadow: 0 0 20px 1px $black;
}
.interior-container {
  background-color: $white;
  padding: 100px 1.66666666666667% 100px 1.66666666666667%;
  display: block;
  overflow: hidden;
}
.uv-page-sidebar {
  width: 30%;
  padding: 0 2.5%;
  float: right;
}
.site-main {
  width: 60%;
  padding: 0 2.5%;
  float: left;
}
.content-area p {
  font-size: 18px;
}